*{
  font-family: Verdana, sans-serif;
}

body{
  background-color: LightGrey;
  margin-left: 0;
  margin-right: 0;
}

div{
  width: 100%;
}

h1{
  font-size: 40px;
  text-align: center;
  margin: auto;
  background-color: Gray;
  color: GhostWhite;
  width: max-content;
  padding: 1vw;
  border-radius: 1vw;
}

h2{
  text-align: center;
}

a{
  color: DeepSkyBlue;
  padding: 5px;
}

li{
  margin-top: 6px;
}

.text{
  width: 100%;
  margin: 5px;
}

.menu{
  width: 15%;
  min-height: 100%;
  background-color: DarkCyan;
  border-radius: 0 1.5vw 0 0;

}

#page{
  display: flex;
  height: 100%;
}

#currentpage{
  background-color: Blue;
  border-radius: 6px;
}

#footer{
  background-color: Gray;
  color: GhostWhite;
  padding: 5px;
}
