*{
  font-family: Verdana, sans-serif;
  background-color: white;
}

h1{
  font-size: 36px;
  text-align: center;
}

p{
  width: 100%;
}

.menu{
  width: 15%;
  height: 100%;
}

#page{
  display: flex;
}

#currentpage{
  background-color: DarkTurquoise;
}
